.animacion {
    animation: animacion 3s;
}

@keyframes animacion {
    from {opacity: 0;}
    to {opacity: 1;}
}

.triCat {
    width: 0;
    height: 0;
    margin-top: -15px;
    margin-bottom: -15px;
    border-top: 60px solid transparent;
    border-left: 35px solid  rgb(56 189 248);
    border-bottom: 60px solid transparent;
    position: relative;
}

.triCat2 {
    width: 0;
    height: 0;
    margin-top: -45px;
    margin-left: -35px;
    border-top: 45px solid transparent;
    border-left: 27px solid rgb(243 244 246);
    border-bottom: 45px solid transparent;
}

.triProd {
    width: 0;
    height: 0;
    margin-top: -15px;
    margin-bottom: -15px;
    border-top: 60px solid transparent;
    border-left: 35px solid  rgb(244, 73, 58);
    border-bottom: 60px solid transparent;
}

.triProd2 {
    width: 0;
    height: 0;
    margin-top: -45px;
    margin-left: -35px;
    border-top: 45px solid transparent;
    border-left: 27px solid rgb(243 244 246);
    border-bottom: 45px solid transparent;
}

:host ::ng-deep .mdc-form-field {
    width: 100%;
}

:host ::ng-deep .mdc-label {
    width: 100%
}

:host ::ng-deep .p-highlight {
    background-color: rgb(246, 167, 167);
}

.cargando{
    width: 80px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
}

.cargando span{
    font-size: 20px;
    text-transform: uppercase;
}

.pelotas {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    animation: salto .3s alternate infinite;
    border-radius: 50%
}

.pelotas:nth-child(2) {
    animation-delay: .18s;
}

.pelotas:nth-child(3) {
    animation-delay: .37s;
}

@keyframes salto {
    from {
        transform: scaleX(1.25);
    }
    to{
        transform: translateY(-13px) scaleX(1);
    }
}

.badge {
    background-color: #3f51b5;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
}