.animacion {
    animation: animacion 3s;
}

@keyframes animacion {
    from {opacity: 0;}
    to {opacity: 1;}
}

.triCat {
    width: 0;
    height: 0;
    margin-top: -15px;
    margin-bottom: -15px;
    border-top: 60px solid transparent;
    border-left: 35px solid  rgb(56 189 248);
    border-bottom: 60px solid transparent;
    position: relative;
}

.triCat2 {
    width: 0;
    height: 0;
    margin-top: -45px;
    margin-left: -35px;
    border-top: 45px solid transparent;
    border-left: 27px solid rgb(243 244 246);
    border-bottom: 45px solid transparent;
}

.triProd {
    width: 0;
    height: 0;
    margin-top: -15px;
    margin-bottom: -15px;
    border-top: 60px solid transparent;
    border-left: 35px solid  rgb(244, 73, 58);
    border-bottom: 60px solid transparent;
}

.triProd2 {
    width: 0;
    height: 0;
    margin-top: -45px;
    margin-left: -35px;
    border-top: 45px solid transparent;
    border-left: 27px solid rgb(243 244 246);
    border-bottom: 45px solid transparent;
}

:host ::ng-deep .mdc-form-field {
    width: 100%;
}

:host ::ng-deep .mdc-label {
    width: 100%
}