<mat-dialog-content>
    <form [formGroup]="formularioFiltro" (ngSubmit)="onSubmit()">

        <p-multiSelect [options]="cadenas$ | async" formControlName="cadenasSeleccionadas" optionLabel="description"
            placeholder="Cadenas Seleccionadas" [style]="{'width':'100%', 'margin-bottom': '10px'}"
            (onPanelHide)="onPanelHideCadenas()"></p-multiSelect>

        <p-multiSelect [options]="restaurantes$ | async" formControlName="restaurantesSeleccionados"
            optionLabel="codeStore" placeholder="Restaurantes Seleccionados"
            [style]="{'width':'100%', 'margin-top': '10px', 'margin-bottom': '10px'}"></p-multiSelect>

        <mat-form-field class="w-full mt-4">
            <mat-label>Seleccione un rango de fechas</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input formControlName="fechaInicio" matStartDate placeholder="Fecha inicio">
                <input formControlName="fechaFin" matEndDate placeholder="Fecha fin">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker></mat-date-range-picker>
        </mat-form-field>

        @if (showLoading) {
        <div class="w-full h-full flex justify-center items-center">
            <div class="loader"></div>
        </div>
        } @else {
        <div class="flex justify-end mt-16">
            <button [disabled]="formularioFiltro.invalid" type="submit" class="mr-2" mat-flat-button
                color="primary">Buscar</button>
            <button mat-flat-button color="warn" mat-dialog-close>Cancelar</button>
        </div>
        }
    </form>
</mat-dialog-content>