:host ::ng-deep .p-multiselect {
    margin: 10px;
    width: 96%;
    
}

:host ::ng-deep .p-checkbox-box {
    outline: 1px solid rgba(0, 0, 0, 0.113);
}

.badge {
    background-color: #3f51b5;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
}