<div class="w-full flex justify-between">
  <div class="flex items-center">
    <input type="text" class="w-64 rounded-lg -mr-6 pl-3 pr-8 py-1" placeholder="Buscar"><button class="border-l pl-1"><i class="ri-search-line"></i></button>
  </div>
  <div class="flex items-center">
        <span class="m-2 p-2 border-r">
            <i class="ri-notification-line"></i>
        </span>
    <div class="flex my-2 py-2">
            <span class="flex bg-white py-2 px-3 rounded-3xl">
                <i class="ri-user-line"></i>
            </span>
      <div class="h-100 grid content-around mr-2">
        <span class="ml-1 text-sm font-medium">{{ getUser?.username }}</span>
      </div>
    </div>
  </div>
</div>
